[submodule "libs/model/backends/qwen3_tts_cpp/vendor/qwen3-tts.cpp"]
	path = libs/model/backends/qwen3_tts_cpp/vendor/qwen3-tts.cpp
	url = https://github.com/predict-woo/qwen3-tts.cpp.git
[submodule "libs/model/backends/ort/vendor/onnxruntime"]
	path = libs/model/backends/ort/vendor/onnxruntime
	url = https://github.com/microsoft/onnxruntime.git
